<ul>
    <li><b>Nombre:</b> {{{user.nombre}}}</li>
    <li><b>Apellido:</b> {{user.apellido}}</li>
    <li><b>edad:</b> {{user.edad}}</li>
    <li><b>correo:</b> {{user.correo}}</li>
    <li><b>telf:</b> {{user.telf}}</li>
</ul>